.icon {
  width: 20px;
  height: 20px;
}

header {
  padding-top: 20px;
  padding-right: 20px;
}

header a {
  padding: 8px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  color: gray;
}

.header-clickable:hover {
  text-decoration: underline;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

#google-search {
  width: 500px;
  font-size: 15px;
  border: solid #efefef 1px;
  padding: 5px;
  background: url("../images/search_by_voice.png") no-repeat right center;
  background-size: 15px 20px;
  background-position: 99% 50%;
}

#google-search:hover {
  border: solid gray 1px;
}

#google-search:focus {
  outline: none;
  border: solid #0266C8 1px;
}

#google-logo {
  padding-bottom: 2%;
}

.button {
  background-color: #efefef;
  margin-top: 2%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  text-shadow:none !important;
  border: solid #efefef 1px;
  box-shadow:none !important;
  padding: 1%;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: gray;
}

.button:hover {
  border: solid gray 1px;
  color: black;
}

#search-box {
  padding-top: 15%;
  text-align: center;
}

td > a {
  padding: 5%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#left-footer {
  float: left;
  width: 50%;
}

#right-footer {
  float: right;
  width: 50%;
}

#left-links {
  float: left;
}

#right-links {
  float: right;
}

#left-footer a, #right-footer a {
  padding: 10px;
  text-decoration: none;
  font-family: Helvetica;
  color: black;
  font-size: 13px;
}

nav {
  text-align: right;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}