.icon {
  width: 30px;
  height: 30px;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  border: solid blue 1px;
}

#google-logo {
  padding-bottom: 2%;
}

.button {
  background-color: #efefef;
  margin-top: 2%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  text-shadow:none !important;
  border: none;
  box-shadow:none !important;
  padding: 1%;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: gray;
}

.button:hover {
  border: solid gray 1px;
}

#search-box {
  padding-top: 15%;
  text-align: center;
}

#google-search {
  width: 40%;
  font-size: 20px;
}

td > a {
  padding: 5%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#left-footer {
  text-align: left;
}

#right-footer {
  text-align: right;
}

nav {
  text-align: right;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}